.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    padding: 0;
}
.leftPanel {
    width: 25vw;
    max-width: 400px;
    height: 100vh;
    background: #F1F1F1;
    padding: 0rem 2rem;
}

.rightPanel {
    min-width: 75vw;
    height: 100vh;
    flex: 1 1 auto;
    display: flex;
}