.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    padding: 0;
    overflow: hidden;
    max-height: -webkit-fill-available;
}
.leftPanel {
    display: block;
    width: 400px;
    height: 100vh;
    background: #F1F1F1;
    padding: 0rem 2rem;
}

.rightPanel {
    min-width: calc(100vw - 400px);
    height: 100vh;
    flex: 1 1 auto;
    display: flex;
    cursor: pointer;
}

.menu {
    display: none;
}

@media screen and (max-width: 1179px) {
    .leftPanel {
        display: none;
        width: 100vw;
        height: 100vh;
        position: absolute;
        padding-top: 4rem;
    }
    .leftPanel.show {
        display: block;
    }
    .menu {
        display: flex;
        position: absolute;
        z-index: 100;
    }
}