.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 8px 10px;
    color: white;
    background: #858DE8;
    border-radius: 20px;
    min-width: 100px;
    height: 40px;
    cursor: pointer;
}

.button.outlined {
    color: #858DE8;
    background: white;
    border: 1px solid #858DE8;
}