.chargeCard {
    background: #FFFFFF;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 1rem;
    margin: 1.5rem 0;
    cursor: default;
    user-select: none;
}
.chargeInfo {
    display: flex;
    flex-direction: column;
}
.chargeName {
    display: flex;
    font-weight: 600;
}
.chargeDetail {
    padding-top: 1.25rem;
}
.chargeColor {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin-right: .5rem;
}
.edit {
    display: flex;
    gap: 4px;
}
.edit svg {
    width: 20px;
    height: 20px;
}
.edit:hover{
    cursor: pointer;
    color: #858DE8;
}
.edit:hover svg path{
    fill: #858DE8;
}