.container {
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 12px; 
}

.container .inputContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: #858DE8;
}
.inputContainer > span {
  width: calc(100% - 8px);
}