.container {
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  user-select: none;
}

.container .inputContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: #858de8;
}
.inputContainer > span {
  width: calc(100% - 8px);
}