.inputText {
  background: rgba(242, 243, 247, 0.9);
  border-radius: 10px;
  border: none;
  height: 27px;
  padding: 18px;
  width: 100%;
  color: #333333;
}

.inputText::placeholder {
  color: rgba(157, 152, 157, 0.75);
}
